*{
  margin: 0;
  padding: 0;
  bottom: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:before,
	.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size:0;
}

.clearfix { *zoom:1;}
body{
  font-size: 0.16rem;
  background: #eeeded;
}
.wrap{
  display: flex;
  height: 100vh;
  flex-direction:column;
}
.header,.footer{
  flex-shrink: 0;
  display: flex;
}
.main{
  flex-grow: 1;
  overflow-y: auto;
}
.iconfont{
  font-size: 0.16rem;
}
