.comm_list{
  padding-left: 0.1rem;
  background: #fff;
}
.comm_list>li{
  border-bottom: 1px solid #ccc;
  padding: 0.1rem 0;
}
.comm_list img{
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  float: left;
  margin-right: 0.1rem;
}
.comm_list>li .iconL{
  float: right;
  margin-right: 0.1rem;
}
.comm_list>li .iconL>i{
  font-size: 0.2rem;
  margin: 0 0.02rem;
}
.comm_list>li .iconL>i:last-child{
  color: #ffd300;
}

.commfooter{
  background: #fff;
  height: 0.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-left: 0.8rem;
}
.commfooter .iconfont{
  font-size: 0.46rem;
  position: absolute;
  top: -0.28rem;left: 0.2rem;
}
.iconfCol{
  color: #ffd300;
}
.commfooter span{
  font-size: 0.14rem;
}
.shoppingNum{
  position: absolute;
  top: -0.2rem;left: 0.52rem;
  border-radius: 50%;
  background: red;
  color: #fff;
  width: 0.15rem;
  height: 0.15rem;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.15rem;
  z-index: 5;
}
.shoppingCart{
  background: #fff;
  height: 2.6rem;
  width: 100%;
}
.shoppingCart p{
  text-align: right;
  border-bottom: 1px solid #ccc;
  line-height: 0.3rem;
}
.shoppingCart ul li{
  line-height: 0.4rem;
  margin: 0 0.1rem;
  border-bottom: 1px solid #ccc;
}
.iconL{
  float: right;
}
.iconL i{
  margin: 0 0.02rem;
}
