.footer {
  width: 100%;
  height: 0.6rem;
  background-color: #ffbe3a;
  padding-top: 0.04rem;
}
.footer>div{
  display:flex;
  width: 100%;
}
.footer div{
  text-align: center;
  font-size: 0.14rem;
}
.footer svg{
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  margin: 0.06rem auto 0;
}
.footer a{
  text-decoration: none;
  color: #fff;
  flex-grow: 1;
  line-height: 0.24rem;
}
.footer .active{
  color: #0aa5b9;
}
.footer .active path{
  fill:#0aa5b9;
}
