.home-header{
  background: #ffbe3a;
  height: 0.6rem;
  width: 100%;
  font-size: 0.14rem;
  padding: 0.15rem 3%;
}
.home-header>div:first-child{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.2rem;
  text-indent: 0.1rem;
  line-height: 0.3rem;
  width:34%;
  float: left;
}
.home-header>div:first-child p{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:80%;
}
.home-header>div:last-child{
  width: 62%;
  background: #fff;
  float: left;
  margin-left: 4%;
  line-height: 0.3rem;
  border-radius: 0.2rem;
  text-indent: 0.1rem;
}
.home-header>div:last-child a{
  width: 100%;
  color: #333;
}
.home-header>div i{
  margin-right: 0.04rem;
}
