.sign{
  text-align: center;
  font-size: 0.18rem;
  line-height: 0.5rem;
  height: 0.5rem;
}
.sign div{
  width: 50%;
  float: left;
}
.sign .signSty{
  background: #fff;
  border-bottom: none;
}
.ucenter{
  background: #fff;
  width: 100%;
  padding-bottom: 0.2rem;
}
.ucenter-username,.ucenter-content{
  line-height: 0.4rem;
  padding: 0 0.2rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-indent: 0.08rem;
}
.ucenter-content li{
  border-bottom: 1px solid #ccc;
  text-indent: 0.08rem;
}
.ucenter-content li span{
  margin-left: 0.1rem;
}
.ucenter-username i,.ucenter-content li i:last-child{
  float: right;
}
.ucenter-content li:last-child{
  border-bottom: none;
}
.ucenter-exit{
  width: 90%;
  border: 1px solid #0fc3ae;
  color:#0fc3ae;
  line-height: 0.4rem;
  margin: 0.2rem auto 0;
  text-align: center;
  border-radius: 6px;
}
