.orderconfirm>div{
  margin-top: 0.15rem;
  font-size: 0.14rem;
  background: #fff;
}
.payment>p{
  line-height: 0.4rem;
  padding: 0 0.14rem;
  border-bottom: 1px solid #ccc;
}
.commodityInfo {
  padding-left: 0.14rem;
}
.commodityInfo>div{
  padding-right: 0.14rem;
  border-bottom: 1px solid #ccc;
  line-height: 0.4rem;
}
.boughtGoods{
  text-align: right;
}
.boughtGoods p:first-child{
  float: left;
}
.boughtGoods p:nth-child(2){
  float: right;
  width: 0.6rem;
}
.boughtGoods p:last-child{
  float: right;
  margin-right: 0.36rem;
  color: #898989;
}
.commodityInfo>div:last-child{
  border-bottom: 0;
}
.commodityInfo>div:last-child p:first-child{
  float: left;
  color: #898989;
}
.commodityInfo>div:last-child p:last-child{
  float: right;
}
.commodityInfo>div:last-child p:last-child em{
  color: #fe4d3d;
}
.priceOrder {
  line-height: 0.5rem;
  text-align: right;
  font-size: 0.18rem;
  position: fixed;bottom:0;
  width: 100%;
}
.priceOrder em{
  color: #fe4d3d;
  font-size: 0.2rem;
}
.priceOrder input{
  background: #ffd300;
  color: #6b450a;
  border: none;
  outline:none;
  width:1rem;
  margin-left: 0.1rem;
}
