.search{
  height:0.5rem;
  border-bottom: 1px solid #999;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.search>svg{
  position: absolute;
  left:0.25rem;top:0.16rem;
  display: block;
  width: 0.16rem;
  height:0.16rem;
}
.search div{
  position: absolute;right:0.8rem;top:0.1rem;
  height: 0.3rem;
  width: 0.3rem;
  text-align: center;
}
.search div svg{
  position: absolute;
  left:0.06rem;top:0.08rem;
  display: block;
  width: 0.16rem;
  height:0.16rem;
}
.search input{
  width: 2.78rem;
  display: block;
  line-height: 0.3rem;
  margin-left: 0.15rem;
  background: #f1e9e9;
  border: 0;
  outline: 0;
  text-indent: 0.36rem;
  font-size: 0.14rem;
}

.search button{
  width:0.5rem;
  border: 0;
  outline: 0;
  height: 0.3rem;
  margin: auto;
  color: #fff;
  background: rgba(204, 204, 204, 0.8);
}
.shopList svg{
  width: 0.2rem;
  height: 0.2rem;
}
.shopList>li{
  padding: 0 0.15rem;
  line-height: 0.6rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.shopList>li a{
  display: flex;
  align-items: center;
  color:rgba(0, 0, 0, 0.65);
}
.shopList>li div{
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 50%;
  margin-right: 0.1rem;
  overflow: hidden;
}
.shopList>li div>img{
  width: 0.4rem;
  height: 0.4rem;
  margin: 0;
  display: block;
}
.shopList>li p{
  width: 100%;
}
.shopList>li p>span{
  color:#f9b700;
}
.notFound{
  position: absolute;
  top: 1.5rem;
  width: 100%;
  text-align: center;
}
.notFound>img{
  max-width: 1.3rem;
}
.history{
  font-size: 0.14rem;
}
.history>p{
  padding:0.15rem;
}
.history li{
  line-height: 0.4rem;
  background: #fff;
  position: relative;
}
.history li>p{
  margin-left: 0.2rem;
  padding-left: 0.4rem;
  border-bottom: 1px solid #ccc;
}
.history li>svg{
  position: absolute;left:0.3rem;top: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
}
.history div{
  text-align: center;
  line-height: 0.5rem;
  background: #fff;
}
